@use '../styles.scss' as _;

.card-list-item {
  width: _.$card-width;
  border-radius: 12px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: transform 0.3s ease;

  &.outline-dashed {
    border-style: dashed;
  }

  .MuiButtonBase-root {
    font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  .card-action {
    height: 100%;
    font-size: 1.375em;
    text-align: center;
  }

  .card-thumbnail {
    border-radius: 1rem;
    width: 100%;
    height: 130px;

    // vignette effect
    box-shadow: inset 2px 2px 15px rgba(0, 0, 0, 0.06);
  }

  .card-title {
    font-weight: 600;
    margin-top: 0.875em;

    // ellipsis
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    // making span display ...
    display: block;
  }

  .card-info {
    * {
      // prevents click event from happening on button children
      pointer-events: none;
    }

    display: flex;
    margin-top: 0.675em;

    .card-details {
      color: #737373;
      font-size: 0.675em;
      font-weight: 600;
      line-height: 1.375em;
      align-self: center;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-line;
    }

    .card-avatar {
      margin-right: 0.375em;
      height: 32px;
      width: 32px;

      background: rgba(35, 186, 150, 0.08);
      border-radius: 8px;
      box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.04);

      &--initials {
        color: #23BA96;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
      }
    }
  }

  &.small-card {
    font-size: 0.675em;
    width: 140px;

    .card-thumbnail {
      height: 70px;
    }

    .card-info {
      display: none;
    }
  }

  &.selected-card {
    border-color: #e02935;
    box-shadow: 0px 20px 12px rgba(0, 0, 0, 0.12);
    transform: translate(0, -0.33em);
  }
}

#create-a-mural {
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border: 1px dashed #d8d8d8;
  text-align: center;

  h4 {
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 0.675em;
  }

  svg {
    font-size: x-large;
  }

  button {
    height: 100%;
  }

  &.selected-card {
    border: 1px solid #e02935;
  }
}
