.mural-selector {
  &-grid {
    position: absolute;
  }

  &-container {
    position: relative;
    flex: 1;
    overflow-y: scroll;

    .subsection-header {
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      color: #606060;
      margin-bottom: 0.6em;
      margin-top: 1em;
    }

    .MuiGrid-item {
      margin: 0.16em !important;
    }
  }
}
