.mural-selector {
  &-grid {
    display: flex;
    position: absolute;
  }

  &-container {
    display: flex;
    position: relative;
    flex: 1;
    overflow-y: scroll;

    .subsection-header {
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      color: #606060;
      margin-bottom: 0.675em;
      margin-top: 1em;
    }

    .card-list-item {
      margin: 0.675em 0.375em;
      width: 172px;
    }
  }
}
