@use '../styles.scss' as _;

.new-mural {
  &-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: hidden;
    overflow-y: hidden;

    padding-top: 2em;
  }

  &-info {
    position: relative;
    width: 100%;
  }

  &-categories {
    width: 20%;
    max-width: 195px;
    margin-right: 20px;
    cursor: disabled;
    // pointer-events: none;
  }

  &-items {
    position: relative;

    /* This ensure the container spans complete rows, including scrollbar */
    flex-basis: calc(
      _.$card-per-row * _.$card-width + (_.$card-per-row - 1) * _.$card-gutter +
        20px
    );

    &-scroll {
      overflow-y: auto;
    }

    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 0.5em;
      row-gap: 0.5em;
      justify-content: start;
      padding-bottom: 80px;
    }

    &-mask {
      position: absolute;
      bottom: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: 114px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 40.1%
      );
    }
  }

  &-buttons {
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: 0;

      & .button {
        align-self: center;
      }

      & .new-mural-create {
        display: flex;
        min-width: 40%;
        max-width: 70%;

        &--input {
          flex-grow: 1;
          margin-right: 1em;
        }
      }
    }
  }
}

.template-item {
  box-sizing: border-box;
  width: _.$card-width;
  height: _.$card-height;

  border-radius: 5px;
  box-shadow: #eeeeee 0 0 5px;

  &-sfx {
    height: 100%;
    width: 100%;

    /* These styles are hardcoded in MUI */
    align-items: stretch !important;
    margin: 0 !important;
  }

  &-selected {
    .template-item-img-container {
      border-color: #ff0066;
    }

    .template-item-typography-title {
      &:focus,
      &:focus-visible {
        border-radius: 4px;
        padding: 9px;
        outline: 1px solid rgba(0, 0, 0, 0.23);
      }
    }
  }

  &-img-container {
    box-sizing: border-box;
    flex-grow: 1;

    background-color: #e2e2e2;
    border: 1px solid #d8d8d8;

    height: 65%;

    & img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-typography {
    &-container {
      padding: 0.66em;
      font-size: 0.8em;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-title {
      font-size: 1.2em;
      font-weight: 700;
      color: #585858;
    }

    &-subtitle {
      line-height: 1.2em;
      color: #8a8a8a;
    }

    &-desc {
      margin-top: 0.66em;
      line-height: 1em;
      color: #333;
    }
  }
}
