@use '../styles.scss';

.workspace-picker-body {
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: auto;
  padding-top: 2rem;
  outline: 0;
  width: 100%;
  max-width: 700px;
  max-height: 240px;
  justify-content: center;
  align-items: center;
  &.dark {
    color: white;
  }

  .mural-picker-error {
    margin: 0.2rem 0.8rem;
  }
  .select-row {
    display: flex;
    width: 100%;
  }
  .workspace-picker-select {
    font-weight: 400;
    flex-grow: 3;
    margin: 0.2rem 0.9375rem;

    .MuiTextField-root
      .MuiOutlinedInput-root.Mui-focused
      .MuiOutlinedInput-notchedOutline {
      border: 1px solid #ff0066;
    }

    .select-label {
      padding: 0.6em;
    }
  }

  .workspace-picker-button-control {
    flex-grow: 1;
    padding-top: 1.2rem;
    margin: 0.2rem 0.9375rem;
  }

  .workspace-picker-button {
    flex: auto;
    background-color: #ff0066;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    transition: background 0.1s linear;
    cursor: pointer;
    outline-style: none;

    &:active,
    &:focus,
    &:hover {
      background-color: #d60057;
    }
  }

  .mural-list-spinner {
    padding-top: 2em;
    text-align: center;
  }

  .MuiInput-underline,
  .MuiInput-underline:after {
    border-color: #ff0066;
  }

  .MuiFormLabel-root,
  .MuiInputBase-root,
  .MuiInputBase-root {
    font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    font-weight: 400;
  }
}

.MuiButton-root .MuiButton-label {
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#workspace-select-popup {
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  max-height: 200px;

  .MuiListSubheader-root {
    font-family: inherit;
    font-weight: 700;
    font-size: 0.8rem;
  }

  .MuiAutocomplete-groupUl {
    font-size: 1rem;
  }
}
