.room-picker-body {
  justify-content: center;
  align-items: center;

  .select-row {
    display: flex;
    flex-wrap: wrap;
    align-items: end;

    > * {
      margin-top: 0.33rem;
      margin-right: 0.2rem;
    }

    .workspace-select,
    .room-select, {
      flex-grow: 5;
    }
  }

  &.dark {
    color: white;
  }

  .room-picker-control {
    flex: 1 5 20%;
  }

  .room-picker-error {
    margin-top: 0.33em;
  }
}

#room-select-popup,
#workspace-select-popup {
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;

  .MuiListSubheader-root {
    font-family: inherit;
    font-weight: 700;
    font-size: 0.8rem;
  }

  .MuiAutocomplete-groupUl {
    font-size: 1rem;
  }
}
