$card-width: 230px;
$card-height: 200px;
$card-gutter: 1rem;
$card-per-row: 4;

// Thumbnail aspect ratio is 1.5
$card-thumbnail-width: 175px;
$card-thumbnail-height: 117px;
$mini-card-thumbnail-width: 115px;
$mini-card-thumbnail-height: 77px;
$micro-card-thumbnail-width: 78px;
$micro-card-thumbnail-height: 52px;
