$card-width: 230px;
$card-height: 200px;
$card-gutter: 1rem;
$card-per-row: 4;

// Thumbnail aspect ratio is 1.5
$card-thumbnail-width: 175px;
$card-thumbnail-height: 117px;
$mini-card-thumbnail-width: 108px;
$mini-card-thumbnail-height: 72px;
$micro-card-thumbnail-width: 80px;
$micro-card-thumbnail-height: 53px;
