.new-mural {
  &-buttons {
    &-container {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin: 4px;
      padding-top: 0.5rem;

      .create-input {
        flex: 1;
      }
    }
  }
}
